<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"></meta>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand">Menu</a>
            <ul class="nav">
                <li class="active"><a href="/">Главная</a></li>
                <li class="active"><a href="/config/">Настройки</a></li>
                <li class="active"><a href="/config_events/">Эвенты</a></li>
                <li><a href="/simulate/">Новая симуляция</a></li>
                {% if simulated %}
                    <li class="active"><a href="/charts/">Графики</a></li>
                    <li class="active"><a href="/logs/">Логи</a></li>
                    <li class="active"><a href="/logsfull/">Логи без разбивки</a></li>
                    <li><a href="/simulate/kill/">Убить симуляцию</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% block content %}{% endblock %}

</body>